work-breakdown-schedule {

  #wbs-diagram {
    display: flex;

    a {
      color: inherit;
    }

    .wbs-group {
      border-left: 2px solid white;
      flex-grow: 1;
      padding: 0.2em;

      h3 {
        font-size: 1.2em;
        white-space: nowrap;
      }

      ol {
        list-style-type: none;
        padding-left: 0.5em;

        li.wbs-project {
          background-color: #F9F9F9;
        }
        li.wbs-project:nth-child(2n) {
          background-color: #EEEEEE;
        }

        li.wbs-milestone {
          border: 1px solid #CCCCCC;
          border-radius: 0.2em;
          margin-bottom: 0.3rem;
        }


        li {
          font-size: 0.9em;
          margin-bottom: 0.5rem;
          padding: 0.2em;

          p {
            margin-bottom: 0;
          }
          p.title {
            white-space: nowrap;
          }
        }
      }
    }

  }
}
