
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gitlab Goodies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user">
        <a [routerLink]=" ['./eisenhower-matrix'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"
          class="nav-link"
          >
          Eisenhower Matrix
        </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a [routerLink]=" ['./time-tracking'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"
          class="nav-link"
          >
          Time Tracking
        </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a [routerLink]=" ['./work-breakdown-schedule'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"
          class="nav-link"
          >
          Work Breakdown Schedule
        </a>
      </li>
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link" (click)="login()">
          Login
        </a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <ng4-loading-spinner> </ng4-loading-spinner>
  <router-outlet></router-outlet>

</div>
