app-eisenhower-matrix {
  table.ehm {


    tr.important {
      background-color: rgba(255, 128, 128, 1);
    }

    tr.not-important {
      background-color: rgba(255, 128, 128, 0.5);
    }


    td.urgent, th.urgent {
      background-color: rgba(128, 128, 255, 0.5);
    }

    td.not-urgent, th.not-urgent {
      background-color: rgba(128, 128, 255, 0.25);
    }

    th {
      text-align: center;
      vertical-align: middle;
    }


    table-layout: fixed;
    td:nth-of-type(1), th:nth-of-type(1) {width:10%;}
    td:nth-of-type(2), th:nth-of-type(2) {width:45%;}
    td:nth-of-type(3), th:nth-of-type(3) {width:45%;}

    border: none;

    tbody {
      tr {height: 20em;}
    }

    td, th {
      border: none;
    }

    .issue-card {
      color: black;
      background-color: rgba(255,255,255,0.5);
      display: inline-block;
      padding: 0.3em 0.5em;
      font-size: 0.8em;
      margin-bottom: 1rem;
      margin-right: 1rem;
      vertical-align: top;

      a.title {
        color: black;
        font-weight: bold;
        :hover {
          text-decoration: underline;
        }
      }

    }
  }
}
