<div class="row justify-content-center mt-5">
  <div class="col-12">
    <table class="table table-bordered ehm">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>
            Urgent
          </th>
          <th>
            Delay
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            Important
          </th>
          <td [dragula]='"ehm"' [dragulaModel]='q1' id="ehm-q1">
            <span *ngFor="let issue of q1" class="badge badge-secondary mr-1" [id]="'issue-' + issue.id">{{issue.title}}</span>
          </td>
          <td [dragula]='"ehm"' [dragulaModel]='q2' id="ehm-q2">
            <span *ngFor="let issue of q2" class="badge badge-secondary mr-1" [id]="'issue-' + issue.id">{{issue.title}}</span>
          </td>
        </tr>
        <tr>
          <th>
            Delegate
          </th>
          <td [dragula]='"ehm"' [dragulaModel]='q3' id="ehm-q3">
            <span *ngFor="let issue of q3" class="badge badge-secondary mr-1" [id]="'issue-' + issue.id">{{issue.title}}</span>
          </td>
          <td [dragula]='"ehm"' [dragulaModel]='q4' id="ehm-q4">
            <span *ngFor="let issue of q4" class="badge badge-secondary mr-1" [id]="'issue-' + issue.id">{{issue.title}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
