<div class="row justify-content-center mt-5">
  <div class="col-12">
    <table class="table table-bordered ehm">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>
            Urgent
          </th>
          <th>
            Delay
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            Important
          </th>
          <td>
            <span *ngFor="let issue of q1" class="badge badge-secondary mr-1">{{issue.title}}</span>
          </td>
          <td>
            <span *ngFor="let issue of q2" class="badge badge-secondary mr-1">{{issue.title}}</span>
          </td>
        </tr>
        <tr>
          <th>
            Delegate
          </th>
          <td>
            <span *ngFor="let issue of q3" class="badge badge-secondary mr-1">{{issue.title}}</span>
          </td>
          <td>
            <span *ngFor="let issue of q4" class="badge badge-secondary mr-1">{{issue.title}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
