<div class="row justify-content-center mt-5">
  <div class="col-12">
    <table class="table table-bordered ehm">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>
            Urgent
          </th>
          <th>
            Delay
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="important">
          <th>
            Important
          </th>
          <td [dragula]='"ehm"' [dragulaModel]='q1' id="ehm-q1" class="urgent">
            <span *ngFor="let issue of q1" class="mr-1 issue-card" [id]="'issue-' + issue.id">
              <a class="title" [href]="issue.web_url">{{issue.title}}</a>
              <br>
              <span *ngFor="let label of issue.labels" class="badge badge-primary mr-1">{{label}}</span>
            </span>
          </td>
          <td [dragula]='"ehm"' [dragulaModel]='q2' id="ehm-q2" class="not-urgent">
            <span *ngFor="let issue of q2" class="mr-1 issue-card" [id]="'issue-' + issue.id">
              <a class="title" [href]="issue.web_url">{{issue.title}}</a>
              <br>
              <span *ngFor="let label of issue.labels" class="badge badge-primary mr-1">{{label}}</span>
            </span>
          </td>
        </tr>
        <tr class="not-important">
          <th>
            Delegate
          </th>
          <td [dragula]='"ehm"' [dragulaModel]='q3' id="ehm-q3" class="urgent">
            <span *ngFor="let issue of q3" class="mr-1 issue-card" [id]="'issue-' + issue.id">

              <a class="title" [href]="issue.web_url">{{issue.title}}</a>
              <br>
              <span *ngFor="let label of issue.labels" class="badge badge-primary mr-1">{{label}}</span>
            </span>
          </td>
          <td [dragula]='"ehm"' [dragulaModel]='q4' id="ehm-q4" class="not-urgent">
            <span *ngFor="let issue of q4" class="mr-1 issue-card" [id]="'issue-' + issue.id">
              <a class="title" [href]="issue.web_url">{{issue.title}}</a>
              <br>
              <span *ngFor="let label of issue.labels" class="badge badge-primary mr-1">{{label}}</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
